<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2022 microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.microg.gms.fido.core">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.MANAGE_USB"
        tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name=".privileged.Fido2PrivilegedService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.fido.fido2.privileged.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ui.AuthenticatorActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:process=":ui"
            android:theme="@style/Theme.Fido.Translucent" />
    </application>
</manifest>
