[submodule "extern/UnifiedNlp"]
	path = extern/UnifiedNlp
	url = https://github.com/microg/android_packages_apps_UnifiedNlp.git
[submodule "extern/GmsApi"]
	path = extern/GmsApi
	url = https://github.com/microg/android_external_GmsApi.git
[submodule "extern/Wearable"]
	path = extern/Wearable
	url = https://github.com/microg/android_external_Wearable.git
[submodule "extern/GmsLib"]
	path = extern/GmsLib
	url = https://github.com/microg/android_external_GmsLib.git
[submodule "extern/vtm"]
	path = extern/vtm
	url = https://github.com/microg/android_external_vtm.git
