[submodule "extern/UnifiedNlp"]
	path = extern/UnifiedNlp
	url = https://github.com/microg/android_packages_apps_UnifiedNlp.git
[submodule "extern/GmsApi"]
	path = extern/GmsApi
	url = https://github.com/microg/android_external_GmsApi.git
