<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2013-2015 µg Project Team
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.gms"
    android:versionName="1.0"
    android:versionCode="6599436">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.google.android.c2dm.permission.SEND"
        android:protectionLevel="dangerous" />

    <permission-tree android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />

    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.local"
        android:label="@string/permission_service_local_label"
        android:description="@string/permission_service_local_description" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail"
        android:label="@string/permission_service_mail_label"
        android:description="@string/permission_service_mail_description" />
    <permission
        android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.writely"
        android:label="@string/permission_service_writely_label"
        android:description="@string/permission_service_writely_description" />

    <uses-permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />

    <application
        android:label="@string/gms_app_name"
        android:icon="@drawable/ic_microg_app"
        tools:replace="android:label,android:icon">
        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />

        <!-- Location -->

        <service
            android:name="org.microg.gms.location.GoogleLocationManagerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.location.internal.GoogleLocationManagerService.START" />
            </intent-filter>
        </service>

        <!--
        ~ TODO: maybe this should go in UnifiedNlp?
        ~ Only if fake signature is not required
        -->
        <service android:name="org.microg.gms.location.ReportingAndroidService">
            <intent-filter>
                <action android:name="com.google.android.location.reporting.service.START" />
                <action android:name="com.google.android.gms.location.reporting.service.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Services Framework -->

        <provider
            android:name="org.microg.gms.gservices.GServicesProvider"
            android:exported="true"
            android:authorities="com.google.android.gsf.gservices" />

        <provider
            android:name="org.microg.gms.settings.GoogleSettingsProvider"
            android:exported="true"
            android:authorities="com.google.settings" />

        <provider
            android:name="org.microg.gms.feeds.SubscribedFeedsProvider"
            android:authorities="subscribedfeeds"
            android:exported="true"
            android:multiprocess="false"
            android:readPermission="android.permission.SUBSCRIBED_FEEDS_READ"
            android:writePermission="android.permission.SUBSCRIBED_FEEDS_WRITE" />

        <!-- Device Checkin -->

        <service android:name="org.microg.gms.checkin.CheckinService" />

        <receiver android:name="org.microg.gms.checkin.TriggerReceiver">
            <intent-filter>
                <action android:name="android.server.checkin.CHECKIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="android.server.checkin.CHECKIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="2432546"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <!-- Cloud Messaging -->
        <service
            android:name="org.microg.gms.gcm.PushRegisterService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.RECEIVE">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.UNREGISTER" />
            </intent-filter>
        </service>

        <!-- People -->

        <service
            android:name="org.microg.gms.people.PeopleService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.people.service.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Wearable -->

        <service
            android:name="org.microg.gms.wearable.WearableService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND" />
            </intent-filter>
        </service>

        <!-- Auth -->

        <service
            android:name="org.microg.gms.auth.loginservice.GoogleLoginService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gsf.action.GET_GLS" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
            <meta-data
                android:name="android.accounts.AccountAuthenticator.customTokens"
                android:value="1" />
        </service>

        <activity
            android:name="org.microg.tools.AccountPickerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Dialog">
            <intent-filter>
                <action android:name="com.google.android.gms.common.account.CHOOSE_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.microg.gms.auth.login.LoginActivity"
            android:theme="@style/LoginBlueTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.login.LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.microg.gms.auth.AskPermissionActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:exported="true"
            android:excludeFromRecents="true" />

        <service
            android:name=".auth.GetToken"
            android:exported="true" />
        <activity
            android:name=".auth.TokenActivity"
            android:exported="true" />

        <!-- Other -->

        <service
            android:name="org.microg.gms.mdm.NetworkQualityService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.mdm.services.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="org.microg.gms.icing.LightweightIndexService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.icing.LIGHTWEIGHT_INDEX_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
