<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2020, microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.nearby.core">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK" />

    <application>

        <!-- Exposure Notifications -->

        <service
            android:name="org.microg.gms.nearby.exposurenotification.ScannerService"
            android:process=":persistent" />
        <service
            android:name="org.microg.gms.nearby.exposurenotification.AdvertiserService"
            android:process=":persistent" />
        <service
            android:name="org.microg.gms.nearby.exposurenotification.CleanupService"
            android:process=":persistent" />
        <service
            android:name="org.microg.gms.nearby.exposurenotification.NotifyService"
            android:process=":persistent" />

        <service
            android:name="org.microg.gms.nearby.exposurenotification.ExposureNotificationService"
            android:process=":persistent">
            <intent-filter>
                <action android:name="com.google.android.gms.nearby.exposurenotification.START" />
            </intent-filter>
        </service>

        <receiver
            android:name="org.microg.gms.nearby.exposurenotification.ServiceInfoReceiver"
            android:process=":persistent" />

        <receiver
            android:name="org.microg.gms.nearby.exposurenotification.ServiceTrigger"
            android:process=":persistent">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="org.microg.gms.nearby.exposurenotification.ExposureFileProvider"
            android:authorities="${applicationId}.microg.exposure.export"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/preferences_exposure_notifications_exportedfiles" />
        </provider>
    </application>
</manifest>
