<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2020, microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.nearby.core">

    <permission
        android:name="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK" />

    <application>

        <!-- Exposure Notifications -->

        <service android:name="org.microg.gms.nearby.exposurenotification.ScannerService" />
        <service android:name="org.microg.gms.nearby.exposurenotification.AdvertiserService" />
        <service android:name="org.microg.gms.nearby.exposurenotification.CleanupService" />
        <service android:name="org.microg.gms.nearby.exposurenotification.NotifyService" />

        <service android:name="org.microg.gms.nearby.exposurenotification.ExposureNotificationService">
            <intent-filter>
                <action android:name="com.google.android.gms.nearby.exposurenotification.START" />
            </intent-filter>
        </service>

        <receiver android:name="org.microg.gms.nearby.exposurenotification.ServiceInfoReceiver" />

        <receiver android:name="org.microg.gms.nearby.exposurenotification.ServiceTrigger">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.microg.exposure.export"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/preferences_exposure_notifications_exportedfiles" />
        </provider>
    </application>
</manifest>
