<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="android.test.base" />
        <uses-library android:name="android.test.mock" />
    </application>
</manifest>
