<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2021 microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.microg.gms.recaptcha.core">

    <application>
        <!-- This service is in :ui process because it may spawn a web view. See https://crbug.com/558377 -->
        <service android:name="org.microg.gms.recaptcha.RecaptchaService"
                 android:process=":ui">
            <intent-filter>
                <action android:name="com.google.android.gms.recaptcha.service.START"/>
            </intent-filter>
        </service>
    </application>
</manifest>
