<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2020, microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <service android:name="org.microg.gms.firebase.auth.FirebaseAuthService">
            <intent-filter>
                <action android:name="com.google.firebase.auth.api.gms.service.START" />
            </intent-filter>
        </service>
        <activity
            android:name="org.microg.gms.firebase.auth.ReCaptchaActivity"
            android:exported="false"
            android:process=":ui"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert.NoActionBar" />
    </application>
</manifest>
