<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2013-2017 microG Project Team
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.wearable">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application>
        <service
            android:name="org.microg.gms.wearable.WearableService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <action android:name="com.google.android.gms.wearable.internal.IWearableService" />
            </intent-filter>
        </service>

        <service
            android:name="org.microg.gms.wearable.WearConnectionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="org.microg.gms.wearable.WearPairingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action_PAIRING_REQUEST" />
                <action android:name="android.bluetooth.adapter.action_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="org.microg.gms.wearable.WearSetupActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>
<manifest />
