<?xml version="1.0" encoding="utf-8"?><!--
  ~ SPDX-FileCopyrightText: 2023 microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="org.microg.gms.profile.ProfileProvider"
            android:authorities="${applicationId}.microg.profile"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <service
            android:name="org.microg.gms.moduleinstall.ModuleInstallService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.chimera.container.moduleinstall.ModuleInstallService.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>
