<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.rcs">

    <permission
        android:name="com.google.android.gms.rcs.permission.ACCESS_RCS"
        android:protectionLevel="signature" />

    <application>
        <service
            android:name=".RcsServiceImpl"
            android:exported="true"
            android:permission="com.google.android.gms.rcs.permission.ACCESS_RCS">
            <intent-filter>
                <action android:name="com.google.android.gms.rcs.SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
