<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <uses-library android:name="android.test.runner" />
        <uses-library android:name="android.test.base" />
        <uses-library android:name="android.test.mock" />
        <service android:name="org.microg.gms.wearable.CapabilityChangeTest$ManifestService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/manifest_only" />
            </intent-filter>
        </service>
    </application>
</manifest>
