<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.wearable">
    <application>
        <service android:name="org.microg.gms.wearable.WearableListenerService"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
    </application>
</manifest>