<!--
  ~ SPDX-FileCopyrightText: 2023 microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="org.microg.gms.settings.checkin_enable_service"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.gcm_enable_mcs_service"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.auth_manager_visible"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.auth_include_android_id"
            android:value="false" />
        <meta-data
            android:name="org.microg.gms.settings.auth_strip_device_name"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.droidguard_enabled"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.safetynet_enabled"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.vending_billing"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.vending_licensing_purchase_free_apps"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.vending_licensing"
            android:value="true" />
        <meta-data
            android:name="org.microg.gms.settings.vending_asset_delivery"
            android:value="true" />
    </application>
</manifest>