<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ SPDX-FileCopyrightText: 2020, microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.microg.gms.nearby.core.ui">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity
            android:name="org.microg.gms.nearby.core.ui.ExposureNotificationsConfirmActivity"
            android:exported="false"
            android:process=":ui"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert.NoActionBar">
            <intent-filter>
                <action android:name="org.microg.gms.nearby.exposurenotification.CONFIRM" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.microg.gms.nearby.core.ui.ExposureNotificationsSettingsActivity"
            android:exported="false"
            android:process=":ui"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter android:priority="-100">
                <action android:name="com.google.android.gms.settings.EXPOSURE_NOTIFICATION_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
