<?xml version="1.0" encoding="utf-8"?><!--
  ~ SPDX-FileCopyrightText: 2014 microG Project Team
  ~ SPDX-License-Identifier: Apache-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.android.vending.CHECK_LICENSE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="org.microg.gms.permission.READ_SETTINGS" />
    <uses-permission android:name="com.google.android.gms.permission.READ_SETTINGS" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https"
                android:host="market.android.com" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:scheme="https"
                android:host="play.google.com" />
        </intent>
    </queries>

    <application
        android:forceQueryable="true"
        android:icon="@mipmap/ic_app"
        android:roundIcon="@mipmap/ic_app"
        android:label="@string/app_name">

        <activity
            android:name=".GrantFakeSignaturePermissionActivity"
            android:exported="true"
            android:theme="@style/Theme.Dialog.NoActionBar" />

        <service
            android:name="com.android.vending.billing.InAppBillingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
            </intent-filter>
        </service>

        <service
            android:name="com.android.vending.licensing.LicensingService"
            android:permission="com.android.vending.CHECK_LICENSE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.licensing.ILicensingService" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.android.finsky.externalreferrer.GetInstallReferrerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.finsky.BIND_GET_INSTALL_REFERRER_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="org.microg.vending.ui.MainActivity"
            android:theme="@style/Theme.Dialog.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.microg.vending.MarketIntentRedirect"
            android:theme="@style/Theme.Dialog.NoActionBar"
            android:exported="true">
            <intent-filter android:priority="-100">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="market" />
            </intent-filter>
            <intent-filter android:priority="-100">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="play.google.com" />
                <data android:host="market.android.com" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.android.vending.licensing.LicenseServiceNotificationRunnable$IgnoreReceiver"
            android:exported="false" />
        <receiver
            android:name="com.android.vending.licensing.LicenseServiceNotificationRunnable$SignInReceiver"
            android:exported="false" />

    </application>
</manifest>
