name: "Gradle build"
permissions: {}
on:
  - push
  - pull_request
  - workflow_dispatch

jobs:
  build:
    name: "Gradle build ${{ matrix.target }}"
    runs-on: ubuntu-latest
    env:
      GRADLE_MICROG_VERSION_WITHOUT_GIT: 1

    strategy:
      matrix:
        target: [Debug, Release]

    steps:
      - name: "Free disk space"
        run: |
          # Deleting unneeded software packages
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt/hostedtoolcache/go

          # Log available space
          df -h
      - name: "Checkout sources"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: "Setup Java"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GradleEncryptionKey }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
          build-scan-terms-of-use-agree: "yes"
      - name: "Setup matchers"
        run: |
          # Setting up matchers...

          matchers_dir='${{ github.workspace }}/.github/matchers'
          matcher_list()
          {
            echo 'gradle-build-matcher.json'
            echo 'gradle-build-kotlin-error-matcher.json'
          }

          matcher_list | while IFS='' read -r NAME; do
            if test -f "${matchers_dir:?}/${NAME:?}"; then
              echo "::add-matcher::${matchers_dir:?}/${NAME:?}"
              echo "Matcher configured: ${NAME:?}"
            fi
          done
      - name: "Execute Gradle assemble"
        run: "./gradlew assemble${{ matrix.target }}"
      - name: "Execute Gradle lint"
        run: "./gradlew lint${{ matrix.target }}"
