<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.microg.gms.rcs"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>

    <application>
        <service
            android:name=".RcsService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.rcs.service.START" />
            </intent-filter>
        </service>

        <service
            android:name=".RcsProvisioningService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.rcs.provisioning.START" />
            </intent-filter>
        </service>
    </application>
</manifest>
